<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_assets.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= image_tag user.attachment.url(:thumb) %></td>
    <td><%#= link_to 'Show', user %></td>
    <td><%#= link_to 'Edit', edit_user_path(user) %></td>
    <td><%#= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Crop', crop_project_assets_path(:id => user.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_project_asset_path %>
